@font-face {
    font-family: semplicita-medium;
    src: url(./fonts/Semplicita\ Medium.otf);
  }

body{
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    background-image: url("./images/plainPizza.jpg");
    
}


.hawaii {
    src: url("./images/hawaii.jpg");
}

body .vegetarian{
    src: url("./images/vegetarian.jpg");
}

body .pepperoni{
    src: url("./images/pepperoni.jpg");
}

.pizza-wrapper{
    margin-top: 20vh;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    flex-direction: column;
    align-items: stretch;
    min-width: 50%;
    background-color: papayawhip;
    padding: 10px;
}

.form-title{
    color: #333;
    font-size: 2em;
    margin: 10px 0px;

}
.form-sub-title{
    color: #333;
    font-size: 1em;
    margin: 5px 0px;
}

#order-form{
    background-color: #ffa5004a;
    padding: 10px;
    color: #333;
    flex:2;
    font-family: 'semplicita-medium', sans-serif;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
  
    width: 98%;
    height: 20px;
  }

  #pizza-progress-label{
      color: #333;
      font-family: 'semplicita-medium', sans-serif;
  }

  progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
  progress[value]::-webkit-progress-value {
    background-color: #009688;  
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
  } 
#order-confirmation{
   
    color: black;
    flex:1;
    display: none;
    max-width: 200px;
    padding: 10px;
    font-family: monospace;

    flex-direction: column;
}

#pizza-icon{
    max-width: 99%;
}

.input-wrap{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    min-width: 100%;
}

input[type=text]
{
    width: 95%;
    padding: 9px;
    border-radius: 5px;
    border: none;
    align-self: flex-start;
}
select{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    align-self: flex-start;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: white;
    width: 90%;
    height:10px;
    cursor: pointer;
}

input[type=range]:focus{
    border: none;
    outline:none;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: #333;
   border-radius: 50%;
    width: 20px;
    height: 20px;
}

button{
    border-radius: 5px;
    border:none;
    background-color: #673ab7;
    font-weight: bold;
    color: white;
    height: 40px;
    width: 100px;
    cursor: pointer;
    font-family: 'semplicita-medium', sans-serif;
    margin-top: 10px;
}

button:hover{
    background-color: #009688;
}

.choice-button{
    align-self: flex-end;
}
#pizza-select > option{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}


/*Speech bubble*/
.speech-bubble {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 110px;
    text-align: center;
    padding: 20px;
    
}

/*Visible and invisible windows*/

.window-visible{
    display: flex;
    justify-content: center;
}

.window-invisible{
    display: none;
}

.pizza-gif{
    max-width: 70%;
}