body{
    background-color: #333;
    color: white;
}

#order-confirmation{
    background-color: antiquewhite;
    color: black;
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}